version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      # environment:
      # - DATABASE_URL=postgresql://user:password@db:5432/econometrics
      # depends_on:
      # - db
      # - redis

      # db:
      #   image: postgres:13
      #   environment:
      #     - POSTGRES_USER=user
      #     - POSTGRES_PASSWORD=password
      #     - POSTGRES_DB=econometrics
      #   ports:
      #     - "5432:5432"
      #   volumes:
      #     - postgres_data:/var/lib/postgresql/data

      # redis:
      #   image: redis:6
      #   ports:
      #     - "6379:6379"

      # volumes:
      #   postgres_data:
